<div id="<%= dom_id athlete %>">
  <p>
    <strong>Name:</strong>
    <%= athlete.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= athlete.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= athlete.address %>
  </p>

  <p>
    <strong>Belt:</strong>
    <%= athlete.belt %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= athlete.professor %>
  </p>

  <p>
    <strong>Academy:</strong>
    <%= athlete.academy %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= athlete.weight %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= athlete.phone %>
  </p>

</div>
