<%= form_with(model: athlete) do |form| %>
  <% if athlete.errors.any? %>
    <div style="color: red">

      <ul>
        <% athlete.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div>
    <%= form.label :belt, style: "display: block" %>
    <%= form.text_field :belt, class: "form-control" %>
  </div>

  <div>
    <%= form.label :professor, style: "display: block" %>
    <%= form.text_field :professor, class: "form-control" %>
  </div>

  <div>
    <%= form.label :academy, style: "display: block" %>
    <%= form.text_field :academy, class: "form-control" %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight, class: "form-control" %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.number_field :phone, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary col-12" %>
  </div>
<% end %>
